<div class="card mb-2">
  <div class="card-body">
    <div class="float-right">
      <img
        alt="avatar"
        src={{get-avatar-url @post.userId}}
        class="bg-info rounded-circle w-25"
      />
    </div>
    <h5 class="card-title">{{@post.id}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{@post.title}}</h6>
    <p class="card-text">{{@post.body}}</p>
    <hr />
    {{! Comments & Delete buttons }}
    <BsButtonGroup class="w-100 btn-group" as |bg|>
      <bg.button class="btn-light">
        <LinkTo @route="post.comment" @model={{@post.id}} class="text-dark text-decoration-none">
          {{svg-jar "chat-bubble-bottom-center-text" class="icon"}}
          Comment
        </LinkTo>
      </bg.button>
      <bg.button class="btn-danger" {{on "click" (fn @onDelete @post)}}>
        {{svg-jar "trash" class="icon"}}
        Delete</bg.button>
    </BsButtonGroup>
  </div>
</div>