{{page-title "Comments"}}
<div class="col-4">
  {{#each this.model as |comment|}}
    <Comment
      @name={{first-word comment.name}}
      @email={{comment.email}}
      @body={{comment.body}}
    />
  {{/each}}
</div>
{{outlet}}